---
title: Altertek
---

<!doctype html>
<html lang="{{ locale }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Ethics in technology, commons, ecology, human rights">
    <meta name="author" content="https://altertek.org/humans.txt">
    <meta name="generator" content="eleventy">
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" href="/assets/images/logo-32x32.png">
    <link href="/assets/css/all.min.css" rel="stylesheet" media="all">
    <script type="text/javascript" src="/assets/js/dropdown.js" ></script>
    <style>
.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

    </style>

  </head>
  <body>
    {% set site = site %}
    {% set locale = locale %}

{% include "partials/header.njk" %}
  <main >
    {{ content | safe }}
  </main>

    {% include "partials/footer.njk" %}
  </body>

</html>
