<header>
<nav class="navbar navbar-expand-md navbar-dark fixed-top menu">
<a class="navbar-brand" href="/{{ locale }}/">
  <img src="/assets/images/logo-32x32.png" class="d-inline-block align-top" alt="altertek logo" loading="lazy">
</a>
<button id="toggler" onclick="dropdown()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true" style="color: black;"></i></span>
</button>
<div class="collapse navbar-collapse" id="navbarCollapse">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item custom-nav-item">
      <a class="nav-link" href="/{{ locale }}/services/">{{ site[locale].ourServices }}</a>
    </li>
    <li class="nav-item custom-nav-item">
      <a class="nav-link " href="/{{ locale }}/software/">{{ site[locale].software }}</a>
    </li>
    <li class="nav-item custom-nav-item">
      <a class="nav-link " href="/{{ locale }}/resilience/">{{ site[locale].resilience }}</a>
    </li>
    <li class="nav-item custom-nav-item">
      <a class="nav-link " href="/{{ locale }}/partners/">{{ site[locale].partners }}</a>
    </li>
    <li class="nav-item custom-nav-item">
      <a class="nav-link" href="/{{ locale }}/about/">{{ site[locale].about }}</a>

    </li>
  </ul>

  <ul class="navbar-nav">
    <li class="nav-item custom-nav-item">
      <a class="nav-link" href="/{{ locale }}/contribute/">{{ site[locale].contribute }}</a>
    </li>

    <li class="nav-item custom-nav-item">
    {% if locale == 'fr' %}
    <a class="nav-link" href="/en/{{ pageName }}{{ "/" if pageName }}">EN</a>
    {% else %}
    <a class="nav-link" href="/fr/{{ pageName }}{{ "/" if pageName }}">FR</a>
    {% endif %}




    </li>




    <li class="nav-item custom-nav-lang">
      <a class="btn btn-lg btn-altertek" href="https://www.helloasso.com/associations/altertek/formulaires/1/{{ locale }}/" rel="noopener noreferrer" target="_blank" role="button"> {{ site[locale].makeDonation }}</a>
    </li>
  </ul>
</div>
</nav>
</header>
